<div id="hero" class="hero row">
    <!-- HERO: TEXT PRESENTATION -->
    <div class="col d-flex align-items-center justify-content-end">
        <div class="text-hero d-grid gap-1">
            <h5>Hello, I am</h5>
            <h1 style="font-weight: 900;">JULIO CÉSAR ASTO MACHUCA</h1>
            <h5>¡I am a full-stack developer!</h5>
            <h5 class="mt-4" style="color: rgba(255, 255, 255, 0.5);">
                I am a young full-stack web 
                developer but enthusiastic
                about software development.
            </h5>
            <h5 style="color: rgba(255, 255, 255, 0.5);">
                I started my career in 2020
                and since then I have not
                been able to stop learning. I
                am passionate about
                Software Architecture,
                design patterns and
                mounting exciting projects
                with my teammates.
            </h5>
            <h5 style="color: rgba(255, 255, 255, 0.5);">
                My dream is to be able to
                find my own software
                solutions service.
            </h5>
            <button type="button" class="btn btn-primary w-50 mt-3"
            onclick="window.open('./assets/docs/CV_JulioCésar_AstoMachuca(en).pdf'); return false;">
                RESUME
            </button>
        </div>
    </div>
    <!-- END HERO: TEXT PRESENTATION -->

    <!-- HERO: IMG PROFILE -->
    <div class="col-5 d-flex align-items-center">
        <img class="hero-img" src="./assets/img/profile.png" alt="Profile picture">
    </div>
    <!-- END HERO: IMG PROFILE-->
</div>

<style>
#hero {
    height: 600px;
}
.text-hero {
    width: 60%;
    color: white;
}
.hero-img {
    margin: auto;
    width: 100%;
    max-width: 550px;
    max-height: 550px;
    border-radius: 50%;
    background-color: greenyellow;
    box-shadow: 0 0 10px gray;
}
</style>