<div id="expectations">
    <!-- TITLE -->
    <div class="text-center m-auto" style="width: 80%;">
        <h2 class="component-title">
            MY EXPECTATIONS AND SOFT-SKILLS
        </h2>
        <p class="mt-3">
            I started studying web development out of pure curiosity, without a specific expectation, and for the simple interest of knowing what all that was about in the world of programming. Over time, I fell in love with algorithmic logic and saw how with just my code and my computer I could bring multiple projects to life on one screen. That led me to want more, to delve deeper into the understanding of APIs, frameworks, and different design patterns capable of accelerating the behavior of my programs.
        </p>
        <p>
            I recognize that I still have a lot to learn and that in these two years of training I have only touched the tip of the software development iceberg, but I want to continue growing in this world, hand in hand with people who share the same passion.
        </p>
        <p>
            I hope to be part of a great team with which to grow and develop as a professional, and if the opportunity and merit allow me, to lead my development team in the future.
        </p>
    </div>
    <!-- END TITLE -->

    <!-- CLOUD TAGS -->
    <div class="row mt-5">
        <!-- CLOUD TAG's -->
        <div id="cloud" class="col">
            <ul id="cloud-tagList" role="navigation" aria-label="Webdev tag cloud">
            </ul>
        </div>
        <!-- END CLOUD TAG's -->

        <!-- COMPONENT: CLOUD TAG's CONTENT -->
        <div id="tag-content" class="col">
            <div class="container">
                <h3 class="text-center text-uppercase mb-4" id="soft-skill-title"></h3>
                <!-- <div id="soft-skill-img-container" class="container mt-4 mb-4" style="padding-left: 0px;padding-right: 0px;">
                    <img id="soft-skill-img"></img>
                </div> -->
                <p class="text-center mt-4" id="soft-skill-content"></p>
            </div>
        </div>
        <!-- END COMPONENT: CLOUD TAG's CONTENT -->

    </div>
</div>

<style>
/* CLOUD VARIABLES: FONT WEIGHTS */
#cloud ul li[data-weight="1"] { --size: 1; }
#cloud ul li[data-weight="2"] { --size: 2; }
#cloud ul li[data-weight="3"] { --size: 3; }
#cloud ul li[data-weight="4"] { --size: 4; }
#cloud ul li[data-weight="5"] { --size: 5; }
#cloud ul li[data-weight="6"] { --size: 6; }
#cloud ul li[data-weight="7"] { --size: 7; }
#cloud ul li[data-weight="8"] { --size: 8; }
#cloud ul li[data-weight="9"] { --size: 9; }

/* CLOUD VARIABLES: FONT COLORS */
#cloud ul li:nth-child(n+1) { --color: #a33; }
#cloud ul li:nth-child(2n+1) { --color: #181; }
#cloud ul li:nth-child(3n+1) { --color: #33a; }
#cloud ul li:nth-child(4n+1) { --color: #c38; }


#expectations {
    height: 100%;
}
/* TAG's STYLE */
#cloud ul {
    width: 80%;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
#cloud ul li {
    --size: 4;
    font-size: calc(var(--size) * 0.3rem + 0.5rem);
    font-weight: calc(var(--size) * 110);
    display: block;
    padding: 0.75rem 0.35rem;
    position: relative;
    color: var(--color);
    cursor: pointer;
    opacity: calc((15 - (9 - var(--size))) / 15); 
}
/* TAG's ANIMATION */
#cloud ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.25;
    transition: width 0.25s;
}
#cloud ul li:focus::before,
#cloud ul li:hover::before {
    width: 100%;
}
#tag-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#tag-content .container {
    width: 100%;
}
/* #tag-content #soft-skill-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
#tag-content #soft-skill-img-container #soft-skill-img {
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 8px 8px 15px black;
} */
</style>

<script>

const tagList = document.querySelector('#cloud-tagList');

fetch('./json/soft-skills.json')
    .then(response => response.json())
    .then(data => {
        
        data.forEach( tag => {
            const newLi = document.createElement("li");
            const textNode = document.createTextNode( tag.title );

            newLi.setAttribute('id', tag.id);
            newLi.setAttribute('data-weight', tag.dataWeight);
            newLi.setAttribute('onclick', 'openTag(this.id)');
            newLi.appendChild(textNode);

            tagList.appendChild(newLi);

        });

    })
</script>