<div id="projects" class="text-center">

    <!-- TITLE -->
    <h2 class="component-title">
        MY RECENT PROJECTS
    </h2>
    <h5 class="mt-2 mb-5">
        Here are a few design projects I've worked on recently. 
        Want to see more? 
        <a href="#component-5" style="text-decoration: none; color: white; font-weight: 700;">
            Email me.
        </a>
    </h5>
    <!-- END TITLE -->
    
    <!-- PROJECTS CONTAINER -->
    <div id="projects-container" class="container">
        <div class="row d-flex justify-content-center gap-5">

            <!-- PROJECT 1 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video"
                    src="https://youtube.com/embed/mqA-YUZm3Lk" allowfullscreen>
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'ANGULAR-180º'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/angular.png" alt="Angular logo">
                    <img class="logo" src="./assets/img/bootstrap.png" alt="Bootstrap logo">
                    <img class="logo" src="./assets/img/firebase.png" alt="Firebase logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        With this single page music player (developed in Angular), you can create your own albums with your favorite music. Add new songs, delete them and modify their properties. List your favorite songs. Create your own albums and enjoy the pleasant interface of this web page.
                    </p>
                    
                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a href="#" target="_blank">
                            <img class="nav-icon disabled" src="./assets/img/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/FP.211-Aplicacion-frontend-dinamica-con-frameworks-avanzados/tree/master/Angular180" target="_blank">
                            <img class="nav-icon" src="./assets/img/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/mqA-YUZm3Lk" target="_blank">
                            <img class="nav-icon" src="./assets/img/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 1 -->

            <!-- PROJECT 2 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'BE YOUR BEST'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/react.png" alt="React logo">
                    <img class="logo" src="./assets/img/expo.png" alt="Expo logo">
                    <img class="logo" src="./assets/img/android.png" alt="Android logo">
                    <img class="logo" src="./assets/img/firebase.png" alt="Firebase logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        Be-your-best, is a mobile application, developed for Android and that works as a personal label, where each user can list different personal challenges, schedule them, determine a start date, and their corresponding deadlines. As well as customize your own profile and share your challenges.
                    </p>
                                        
                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a href="#" target="_blank">
                            <img class="nav-icon disabled" src="./assets/img/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/ReactProject_-BeYourBest-" target="_blank">
                            <img class="nav-icon" src="./assets/img/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://www.youtube.com/embed/xoz1_kozUzo" target="_blank">
                            <img class="nav-icon" src="./assets/img/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 2 -->

            <!-- PROJECT 3 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'PARA CASA'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/spring.png" alt="Spring logo">
                    <img class="logo" src="./assets/img/bootstrap.png" alt="Bootstrap logo">
                    <img class="logo" src="./assets/img/java.png" alt="Java logo">
                    <img class="logo" src="./assets/img/oauth.png" alt="Oauth logo">
                    <img class="logo" src="./assets/img/mysql.png" alt="MySQL logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        The 'For home' web application offers a virtual store for buying and selling (it does not manage stocks) of different food dishes. The application accompanies you throughout the purchase process with its cart function, in addition to offering you different discounts if you access with a registered user and even allows you to create your own different personalized menus applying their corresponding discounts.
                    </p>

                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a href="#" target="_blank">
                            <img class="nav-icon disabled" src="./assets/img/http.png" alt="MongoDB logo">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nav-icon" src="./assets/img/github.png" alt="MongoDB logo">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nav-icon" src="./assets/img/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 3 -->

            <!-- NODEJS PROJECT -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <h5 class="card-title">NODEJS PROJECT</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a href="#" target="_blank">
                            <img class="nav-icon" src="./assets/img/http.png" alt="MongoDB logo">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nav-icon" src="./assets/img/github.png" alt="MongoDB logo">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nav-icon" src="./assets/img/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END NODEJS PROJECT -->
            
        </div>
    </div>
    <!-- END PROJECTS CONTAINER -->
</div>

<style>
#projects {
    margin-bottom: 50px;
}
#projects-container h1, 
#projects-container h2, 
#projects-container h5, 
#projects-container p,
#projects-container p span {
    color: black;
}
#projects-container .project-container {
    width: 35rem;
    display: flex;
    justify-content: center;
    background-color: var(--contrast-bg-color);
    box-shadow: 15px 15px 50px black;
}
#projects-container .project-container .nav-icon {
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: orange;
    border: solid 4px white;
    box-shadow: 0 0 5px black;   
}
    #projects-container .project-container .nav-icon:hover {
        background-color: yellowgreen;
        transition: .1s ease all;
    }
    #projects-container .project-container .disabled,
    #projects-container .project-container .disabled:hover {
        background-color: gray;
    }

#projects-container .card-video {
    width: 100%; 
    height: 315px;
    margin-top: 10px;
    border-radius: 3%;
}
#projects-container .logo {
    width: 60px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px gray;
}


</style>