<div id="projects" class="text-center">

    <!-- TITLE -->
    <h2 class="component-title">
        MY RECENT PROJECTS
    </h2>
    <h5 class="mt-2 mb-5">
        Here are a few design projects I've worked on recently. 
        Want to see more? 
        <a href="#component-5" style="text-decoration: none; color: white; font-weight: 700;">
            Email me.
        </a>
    </h5>
    <!-- END TITLE -->
    
    <!-- PROJECTS CONTAINER -->
    <div id="projects-container" class="container">
        <div class="row d-flex justify-content-center gap-5">

            <!-- PROJECT 1 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video"
                    src="https://youtube.com/embed/mqA-YUZm3Lk" allowfullscreen>
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'ANGULAR-180º'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/icons/angular.png" alt="Angular logo">
                    <img class="logo" src="./assets/img/icons/bootstrap.png" alt="Bootstrap logo">
                    <img class="logo" src="./assets/img/icons/firebase.png" alt="Firebase logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        In this project, a web music player has been developed (as a personal project) with Angular + Firebase technologies. All the functionalities have been built with TypeScript and the component and module architecture proposed by the framework.
                    </p>
                    
                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a class="disabled" href="#" target="_blank" onclick="return false;">
                            <img class="nav-icon" src="./assets/img/buttons/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/FP.211-Aplicacion-frontend-dinamica-con-frameworks-avanzados/tree/master/Angular180" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/mqA-YUZm3Lk" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 1 -->

            <!-- PROJECT 2 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/xoz1_kozUzo">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'BE YOUR BEST'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/icons/react.png" alt="React logo">
                    <img class="logo" src="./assets/img/icons/expo.png" alt="Expo logo">
                    <img class="logo" src="./assets/img/icons/android.png" alt="Android logo">
                    <img class="logo" src="./assets/img/icons/firebase.png" alt="Firebase logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        Be-your-best, is a mobile application, developed for Android with ReactNative + Expo technologies. This works like a personal label, where each user can list different personal challenges, schedule them, determine a start date and their corresponding deadlines. In addition to customizing your own profile and sharing your challenges thanks to the native components of the Framework.
                    </p>
                                        
                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a class="disabled" href="#" target="_blank" onclick="return false;">
                            <img class="nav-icon" src="./assets/img/buttons/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/ReactProject_-BeYourBest-" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/xoz1_kozUzo" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 2 -->

            <!-- PROJECT 3 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/F3ousnukW7I">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'PARA CASA'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/icons/spring.png" alt="Spring logo">
                    <img class="logo" src="./assets/img/icons/bootstrap.png" alt="Bootstrap logo">
                    <img class="logo" src="./assets/img/icons/java.png" alt="Java logo">
                    <img class="logo" src="./assets/img/icons/oauth.png" alt="Oauth logo">
                    <img class="logo" src="./assets/img/icons/mysql.png" alt="MySQL logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        'Para-casa' is a FullStack web application, developed with SpringBoot + its template engine: Thymeleaf. In its functionalities, it offers a virtual store for the purchase and sale of different food dishes (it does not manage stocks). It has a shopping cart function, in addition to offering different discounts to registered users.
                    </p>

                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a class="disabled" href="#" target="_blank" onclick="return false;">
                            <img class="nav-icon disabled" src="./assets/img/buttons/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/springToYourHome" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/F3ousnukW7I" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 3 -->

            <!-- PROJECT 4 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/VCevemCkG78">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'GAMESCRIPT'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/icons/html5.png" alt="HTML5 logo">
                    <img class="logo" src="./assets/img/icons/css3.png" alt="CSS3 logo">
                    <img class="logo" src="./assets/img/icons/javascript.png" alt="Javascript logo">
                    <img class="logo" src="./assets/img/icons/nodejs.png" alt="NodeJS logo">
                    <img class="logo" src="./assets/img/icons/expressjs.png" alt="ExpressJS logo">
                    <img class="logo" src="./assets/img/icons/mongodb.png" alt="MongoDB logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        The "Game Script" project, developed with FullStack JS technologies (NodeJS, Express, MongoDB), makes use of multiple HTML5 APPIS, to build a Lobby and a Waiting-Room for a video-game programmed under the OOP paradigm.
                    </p>

                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a class="disabled" href="#" target="_blank" onclick="return false;">
                            <img class="nav-icon" src="./assets/img/buttons/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/nodeGameScript" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/VCevemCkG78" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 4 -->
            
            <!-- PROJECT 5 -->
            <div class="project-container card col-md-4">
                <!--CARD VIDEO -->
                <iframe class="card-video" 
                    src="https://www.youtube.com/embed/s3LqJbtas8k">
                </iframe> 
                <!-- END CARD VIDEO -->
                <div class="card-body">
                    <!-- TITLE -->
                    <h5 class="card-title">'Sonrisas ORM'</h5>
                    <!-- ICONS: TECHNOLOGIES -->
                    <img class="logo" src="./assets/img/icons/javafx.png" alt="Java-FX logo">
                    <img class="logo" src="./assets/img/icons/java.png" alt="Java logo">
                    <img class="logo" src="./assets/img/icons/mysql.png" alt="MySQL logo">
                    <img class="logo" src="./assets/img/icons/hibernate.png" alt="Hibernate logo">
                    <!-- SUMMARY -->
                    <p>
                        <span style="font-weight: bold;">Sumary: </span>
                        "Sonrisas por el Mundo ORM" is a desktop application developed with Java + JavaFX and MySQL persistence integrated with Hibernate. For its development, the DAO pattern, Factory pattern, MVC and OOP have been used.
                    </p>

                    <!-- PROJECT LINK BUTTONS -->
                    <div>
                        <a class="disabled" href="#" target="_blank" onclick="return false;">
                            <img class="nav-icon" src="./assets/img/buttons/http.png" alt="MongoDB logo">
                        </a>
                        <a href="https://github.com/JulitoxD/javaORMApp" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/github.png" alt="MongoDB logo">
                        </a>
                        <a href="https://youtu.be/s3LqJbtas8k" target="_blank">
                            <img class="nav-icon" src="./assets/img/buttons/youtube.png" alt="MongoDB logo">
                        </a>
                    </div>
                    <!-- END PROJECT LINK BUTTONS -->

                </div>
            </div>
            <!-- END PROJECT 5 -->

        </div>
    </div>
    <!-- END PROJECTS CONTAINER -->
</div>

<style>
#projects {
    margin-bottom: 50px;
}
#projects-container h1, 
#projects-container h2, 
#projects-container h5, 
#projects-container p,
#projects-container p span {
    color: black;
}
#projects-container .project-container {
    width: 35rem;
    display: flex;
    justify-content: center;
    background-color: var(--contrast-bg-color);
    box-shadow: 15px 15px 50px black;
}
#projects-container .project-container .nav-icon {
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: orange;
    border: solid 4px white;
    box-shadow: 0 0 5px black;   
}
    #projects-container .project-container .nav-icon:hover {
        background-color: yellowgreen;
        transition: .1s ease all;
    }
    #projects-container .project-container .disabled img,
    #projects-container .project-container .disabled img:hover {
        background-color: gray;
    }

#projects-container .card-video {
    width: 100%; 
    height: 315px;
    margin-top: 10px;
    border-radius: 3%;
}
#projects-container .logo {
    width: 60px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px gray;
}
</style>

<script>
    const disabledBtn = document.getElementsByClassName('disabled');
    for(let elem of disabledBtn) {
        elem.addEventListener('click', showDisabledMsg);
    }
</script>