<div id="technologies" class="d-flex justify-content-center my-5">
    <!-- CARD -->
    <div class="card bg-dark text-center">
        
        <!-- CARD TITLE -->
        <h2 class="component-title my-4">
            TECHNOLOGIES
        </h2>
        <!-- END CARD TITLE -->

        <!-- CARD BODY -->
        <div class="row card-body">
            <!-- CARD BODY: COLUMN 1 -->
            <div class="col" style="border-right: 1px solid rgba(100, 100, 100, .3);">
                <h4 class="card-text mb-5">FRONT</h4>
                <!-- ICONS -->
                <div class="container row">
                    <!-- ANGULAR LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/angular.png" alt="Angular logo">
                        <p>ANGULAR v13</p>
                    </div>
                    <!-- REACT NATIVE LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/react.png" alt="React logo">
                        <p>REACT NATIVE v0.68</p>
                    </div>
                    <!-- HTML5 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/html5.png" alt="HTML5 logo">
                        <p>HTML 5</p>
                    </div>
                    <!-- CSS3 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/css3.png" alt="CSS3 logo">
                        <p>CSS 3</p>
                    </div>
                    <!-- JAVASCRIPT LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/bootstrap.png" alt="Bootstrap logo">
                        <p>BOOTSTRAP</p>
                    </div>
                </div>
                <!-- END ICONS -->
            </div>
            <!-- END CARD BODY: COLUMN 1 -->

            <!-- CARD BODY: COLUMN 2 -->
            <div class="col" style="border-right: 1px solid rgba(100, 100, 100, .3);">
                <h4 class="card-text mb-5">BACK</h4>
                <!-- ICONS -->
                <div class="container row">
                    <!-- HTML5 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/java.png" alt="Java logo">
                        <p>JAVA</p>
                    </div>
                    <!-- CSS3 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/spring.png" alt="Spring logo">
                        <p>SPRING</p>
                    </div>
                    <!-- JAVASCRIPT LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/javascript.png" alt="Javascript logo">
                        <p>JAVASCRIPT vES6</p>
                    </div>
                    <!-- ANGULAR LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/nodejs.png" alt="NodeJS logo">
                        <p>NODE JS</p>
                    </div>
                </div>
                <!-- END ICONS -->
            </div>
            <!-- END CARD BODY: COLUMN 2 -->

            <!-- CARD BODY: COLUMN 3 -->
            <div class="col">
                <h4 class="card-text mb-5">DATABASE</h4>
                <!-- ICONS -->
                <div class="container row">
                    <!-- HTML5 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/mysql.png" alt="MySQL logo">
                        <p>MY-SQL</p>
                    </div>
                    <!-- CSS3 LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/mongodb.png" alt="MongoDB logo">
                        <p>MONGO DB</p>
                    </div>
                    <!-- JAVASCRIPT LOGO -->
                    <div class="logo-container col">
                        <img class="logo" src="./assets/img/firebase.png" alt="Firebase logo">
                        <p>FIREBASE-FIRESTORE</p>
                    </div>
                </div>
                <!-- END ICONS -->
            </div>
            <!-- END CARD BODY: COLUMN 3 -->

        </div>
        <!-- END CARD BODY -->

    </div>
    <!-- END CARD -->
</div>

<style>
#technologies {
    height: auto;
}
.card {
    width: 90%;
    border-radius: 20px;
}
.card .card-text {
    font-weight: 200;
    text-shadow: 2px 2px 0 gray;
}
.logo-container .logo {
    width: 80px;
    background-color: transparent;
    cursor: pointer;
}
    .logo-container .logo:hover {
        transform: scale(1.5);
        transition: .3s ease all;
    }
.logo-container p {
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 gray;
}
</style>